table {
    border-collapse: separate;
    border-spacing: 5px;
    background-color: #b0e0e6; 
    width: 60%;
    margin: auto;
    border: 1px solid #999;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }

  th, td {
    border: 1px solid #888;
    border-radius: 10px;
    padding: 8px 12px;
    text-align: left;
  }

  th {
    background-color: #9bd3d3;
    font-weight: bold;
  }

  
  .shape-grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
  }

  .shape {
    width: 80px;
    height: 50px;
    border: 2px solid #9acd32; /* yellowgreen */
    border-radius: 10px;
  }

  .oval {
    border-radius: 50%;
  }