*{
  font-family: 'Times New Roman', Times, serif;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th{
  background-color:  #09aa67;
  color:white;
  text-align: left;
  padding: 12px;
}
td{
  padding: 12px;
      text-align: left;
}
tr:nth-child(even) {
  background-color: #f3f3f3;
}

tr:nth-child(odd) {
  background-color: #b3b1b1;
}